<div class="form-inline my-2 my-lg-0">
    <!--Capturamos los datos del usuario, tanto al dar enter o dar click al boton de enter-->
    <input #txtBuscar (keyup.enter)="buscarPelicula(txtBuscar.value)" class="form-control mr-sm-2" type="search" placeholder="Search Movie" aria-label="Search">
    <button (click)="buscarPelicula(txtBuscar.value)" class="btn btn-outline-success my-2 my-sm-0 mt-3" type="submit">Search</button>
</div>

<div class="row mt-5" *ngIf="movies.length > 0">
    <div class="col">
        <app-slideshow [movies]="moviesSlideshow"></app-slideshow>
    </div>
</div>

<h1 class="mt-5">Movies</h1>

<app-peliculas-poster-grid *ngIf="movies.length > 0" [movies]="movies"></app-peliculas-poster-grid>